In [272]:
import numpy as np
import pandas as pd
import math
import matplotlib as mpl
import matplotlib.pyplot as plt
import pickle
from scipy import log,exp,sqrt,stats

In [273]:
# Importing pickle file
data = np.load('/Users/louisribieras/Desktop/my_invictus/data/latest_coin_data.pkl')
# Drop Null Values
data = data.dropna()

In [274]:
# Initialize a close_price list
volumes_list = list()
# Making a list of all close_prices
for column in data.columns:
    for date in data.index:
        volumes_list.append(data[column][date]['volume'])

# Splitting list into 133 lists (one per coin)
volumes_list = [volumes_list[i:i+916] for i  in range(0, len(volumes_list), 916)]

In [275]:
volumes = pd.DataFrame(data = volumes_list, index = data.index, columns = data.columns)
# Reordering column index
volumes = volumes[volumes.columns[::-1]]
print('Shape of Volumes df: ', volumes.shape)

Shape of Volumes df:  (133, 916)

In [276]:
# Quarters for 2016, avg daily trading volume, top 10
vol_q1_16 = pd.DataFrame(data = volumes.loc[:,'Jan 01, 2016':'Mar 31, 2016'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q2_16 = pd.DataFrame(data = volumes.loc[:,'Apr 01, 2016':'Jun 30, 2016'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q3_16 = pd.DataFrame(data = volumes.loc[:,'Jul 01, 2016':'Sep 30, 2016'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q4_16 = pd.DataFrame(data = volumes.loc[:,'Oct 01, 2016':'Dec 31, 2016'].mean(axis=1).sort_values(ascending = False).head(10))
# Quarters for 2017, avg daily trading volume, top 10
vol_q1_17 = pd.DataFrame(data = volumes.loc[:,'Jan 01, 2016':'Mar 31, 2017'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q2_17 = pd.DataFrame(data = volumes.loc[:,'Apr 01, 2016':'Jun 30, 2017'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q3_17 = pd.DataFrame(data = volumes.loc[:,'Jul 01, 2016':'Sep 30, 2017'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q4_17 = pd.DataFrame(data = volumes.loc[:,'Oct 01, 2016':'Dec 31, 2017'].mean(axis=1).sort_values(ascending = False).head(10))
# Quarters for 2018, avg daily trading volume, top 10
vol_q1_18 = pd.DataFrame(data = volumes.loc[:,'Jan 01, 2016':'Mar 31, 2018'].mean(axis=1).sort_values(ascending = False).head(10))
vol_q2_18 = pd.DataFrame(data = volumes.loc[:,'Apr 01, 2016':'Jun 30, 2018'].mean(axis=1).sort_values(ascending = False).head(10))

In [277]:
# List of the vol_quarters
vol_list = [vol_q1_16, vol_q2_16, vol_q3_16, vol_q4_16,
            vol_q1_17, vol_q2_17, vol_q3_17, vol_q4_17,
            vol_q1_18, vol_q2_18]
# List of the vol_quarters labels
vol_list_labels = ['vol_q1_16', 'vol_q2_16', 'vol_q3_16', 'vol_q4_16',
            'vol_q1_17', 'vol_q2_17', 'vol_q3_17', 'vol_q4_17',
            'vol_q1_18', 'vol_q2_18']

In [278]:
def proportion(amount, total):
    percent = amount/total
    return percent

In [279]:
for df in vol_list:
    df.columns = ['Volume']
    df['Proportion'] = ''

In [280]:
vol_q1_16

                         Volume Proportion
cannabiscoin       2.107095e+08
canada-ecoin       2.065283e+08
cloakcoin          2.051401e+08
clubcoin           1.828051e+08
bytecent           1.654384e+08
auroracoin         1.484944e+08
burst              1.478862e+08
blocknet           1.384470e+08
bitbay             1.350746e+08
circuits-of-value  1.287548e+08

In [251]:
tv = list()
for df in vol_list:
    tv.append(sum(df['Volume']))
tv = pd.DataFrame(data = tv, index = vol_list_labels, columns = ['Total Volumes'])

In [252]:
tv

           Total Volumes
vol_q1_16   1.669278e+09
vol_q2_16   1.858729e+09
vol_q3_16   1.924320e+09
vol_q4_16   2.052825e+09
vol_q1_17   1.776740e+09
vol_q2_17   1.970697e+09
vol_q3_17   2.036756e+09
vol_q4_17   2.142980e+09
vol_q1_18   1.924864e+09
vol_q2_18   1.944409e+09

In [285]:
for df in vol_list:
    for i in tv:
        df['Proportion'] = i