In [2]:
from tradingWithPython import yahooFinance as yf

In [5]:
df=yf.getSymbolData("SPY")

Got 4670 days of data

In [6]:
df.head()

              open    high     low   close  adj_close    volume
Date
1999-12-31  146.84  147.50  146.25  146.88     103.95   3172700
2000-01-03  148.25  148.25  143.88  145.44     102.93   8164300
2000-01-04  143.53  144.06  139.64  139.75      98.91   8089800
2000-01-05  139.94  141.53  137.25  140.00      99.08  12177900
2000-01-06  139.62  141.50  137.75  137.75      97.49   6227200

In [8]:
df1=yf.getSymbolData("SPY",adjust=True)
df1.head()

Got 4670 days of data

             close    volume    open    high     low
Date
1999-12-31  103.95   3172700  103.93  104.39  103.51
2000-01-03  102.93   8164300  104.92  104.92  101.83
2000-01-04   98.91   8089800  101.58  101.96   98.83
2000-01-05   99.08  12177900   99.04  100.17   97.14
2000-01-06   97.49   6227200   98.82  100.14   97.49

In [9]:
symbols=['XLE','USD','SPY']

In [10]:
data=yf.getHistoricData(symbols)

Downloading data:
 [*********************100%***********************]  3 of 3 complete

In [11]:
data.columns

MultiIndex(levels=[['SPY', 'USD', 'XLE'], ['open', 'high', 'low', 'close', 'adj_close', 'volume']],
           labels=[[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]],
           names=['symbol', 'ohlcv'])

In [14]:
data['SPY'].head()

ohlcv         open    high     low   close  adj_close    volume
Date
1999-12-31  146.84  147.50  146.25  146.88     103.95   3172700
2000-01-03  148.25  148.25  143.88  145.44     102.93   8164300
2000-01-04  143.53  144.06  139.64  139.75      98.91   8089800
2000-01-05  139.94  141.53  137.25  140.00      99.08  12177900
2000-01-06  139.62  141.50  137.75  137.75      97.49   6227200

In [15]:
data.xs('close',level=1,axis=1).head()

symbol         SPY  USD    XLE
Date
1999-12-31  146.88  NaN  27.09
2000-01-03  145.44  NaN  26.56
2000-01-04  139.75  NaN  26.06
2000-01-05  140.00  NaN  26.75
2000-01-06  137.75  NaN  27.78